<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSearchView</servlet-name>
        <jsp-file>/StudentSearchView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSearchController</servlet-name>
        <servlet-class>controller.student.StudentSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPageController</servlet-name>
        <servlet-class>controller.student.StudentPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileController</servlet-name>
        <servlet-class>controller.student.StudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileView</servlet-name>
        <jsp-file>/StudentProfileView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentCartController</servlet-name>
        <servlet-class>controller.student.StudentCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentBorrowController</servlet-name>
        <servlet-class>controller.student.StudentBorrowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentBorrowView</servlet-name>
        <jsp-file>/StudentBorrowView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentBookInfoController</servlet-name>
        <servlet-class>controller.student.StudentBookInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentBookInfoView</servlet-name>
        <jsp-file>/StudentBookInfoView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentCommentController</servlet-name>
        <servlet-class>controller.student.StudentCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentNewsController</servlet-name>
        <servlet-class>controller.student.StudentNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentNewsView</servlet-name>
        <jsp-file>/StudentNewsView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentHistoryController</servlet-name>
        <servlet-class>controller.student.StudentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHistoryView</servlet-name>
        <jsp-file>/StudentHistoryView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>controller.admin.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchView</servlet-name>
        <jsp-file>/AdminSearchView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminBorrowController</servlet-name>
        <servlet-class>controller.admin.AdminBorrowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBorrowView</servlet-name>
        <jsp-file>/AdminBorrowView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminReportView</servlet-name>
        <jsp-file>/AdminReportView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterView</servlet-name>
        <jsp-file>/AdminRegisterView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminReportController</servlet-name>
        <servlet-class>controller.admin.AdminReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterController</servlet-name>
        <servlet-class>controller.admin.AdminRegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSearchView</servlet-name>
        <url-pattern>/student/searchview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSearchController</servlet-name>
        <url-pattern>/student/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPageController</servlet-name>
        <url-pattern>/student/page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileController</servlet-name>
        <url-pattern>/student/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileView</servlet-name>
        <url-pattern>/student/profileview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCartController</servlet-name>
        <url-pattern>/student/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentBorrowController</servlet-name>
        <url-pattern>/student/borrow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentBorrowView</servlet-name>
        <url-pattern>/student/borrowview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentBookInfoController</servlet-name>
        <url-pattern>/student/bookinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentBookInfoView</servlet-name>
        <url-pattern>/student/bookinfoview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCommentController</servlet-name>
        <url-pattern>/student/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNewsController</servlet-name>
        <url-pattern>/student/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNewsView</servlet-name>
        <url-pattern>/student/newsview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHistoryController</servlet-name>
        <url-pattern>/student/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHistoryView</servlet-name>
        <url-pattern>/student/historyview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchView</servlet-name>
        <url-pattern>/admin/searchview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBorrowController</servlet-name>
        <url-pattern>/admin/borrow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBorrowView</servlet-name>
        <url-pattern>/admin/borrowview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportView</servlet-name>
        <url-pattern>/admin/reportview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportController</servlet-name>
        <url-pattern>/admin/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterController</servlet-name>
        <url-pattern>/admin/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterView</servlet-name>
        <url-pattern>/admin/registerview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
